article {
  text-align: center;
}
#calendar-wipe {
  text-align: center;
  margin: 20px;
}
.month {
  margin-right: 8px;
}
.month-name {
  font-size: 85%;
  fill: #777;
  font-family: Arial, Helvetica;
}
.day.hover {
  stroke: #6d6e70;
  stroke-width: 2;
}
.day.focus {
  stroke: #ffff33;
  stroke-width: 2;
}

#chart {
  overflow: visible;
  max-width: 1000px;
  margin: auto;
}

.grid .tick {
  stroke: rgba(0, 0, 0, 0.1);
  opacity: 0.3;
}
.grid path {
  stroke-width: 0;
}

#tag {
  color: white;
  background: #fa283d;
  width: 150px;
  position: absolute;
  display: none;
  padding: 3px 6px;
  margin-left: -80px;
  font-size: 11px;
}

#tag:before {
  border: solid transparent;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
  border-width: 10px;
  border-bottom-color: #fa283d;
  top: -20px;
}

dl {
  display: flex;
  flex-flow: row wrap;
  max-width: 1000px;
  margin: auto;
  align-items: center;
}
dt {
  width: 50%;
  text-align: right;
  font-size: 2.5em;
  font-weight: 600;
}
dd {
  margin-left: auto;
  text-align: left;
  font-size: 1.5em;
  width: 48%;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 4px;
}

.axisSteelBlue text {
  fill: steelblue;
}

.axisRed text {
  fill: red;
}

#bar {
  max-width: 1000px;
  margin: auto;
}
main {
  padding-bottom: 0 !important;
}

section {
  margin-bottom: 20px;
}

#section-members {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

#member-numbers {
  flex-basis: 65%;
}

.members-list {
  list-style: none;
  display: inline-block;
  flex-basis: 35%;
}

.members-list > li {
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 8px;
}

.members-list > li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.member-icon-name {
  display: flex;
  align-items: center;
}

.member-icon-name p {
  margin-top: 0;
  margin-bottom: 0;
}

.member-name {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 10px;
}

.member-server {
  font-size: 0.8em;
  text-align: left;
  margin-left: 34px;
}

.member-icon {
  width: 24px;
  height: 24px;
}

#section-video {
  /* max-height: 378px; */
  max-width: 620px;
  margin: auto;
}

#section-video-cont {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  margin-bottom: 10px;
}

#section-video-cont iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.ucob-retired {
  width: 500px;
  margin: 30px;
}

.cov-offset {
  position: relative;
  left: -24px;
}

.no-hover:hover {
  background-color: transparent !important;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.retired-tags {
  text-align: left;
  font-size: 0.8em;
  margin-left: 24px;
  padding: 10px;
}

.retired-tags span {
  border-radius: 4px;
  padding: 4px;
  margin: 2px;
  color: white;
}

.uwu-tag {
  background-color: #4285f4;
}

.tea-tag {
  background-color: #0f9d58;
}

.combat-hours {
  font-size: 25%;
}
